/* Nav */

.menu-toggle{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
    cursor: pointer;
    width: auto;
}

.menu-toggle .fa{
    display: block;
    line-height: 0;
    margin: 0 0 8px;
    font-size: 28px;
    transition: all 800ms ease-out;
}

.menu-toggle.close .fa{
    transform: rotate(180deg);
}

.menu-toggle.close .fa:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.close .fa:nth-child(2){
    opacity: 0;
}
.menu-toggle.close .fa:nth-child(3){
    transform: rotate(-45deg) translate(7px, -6px);
}
.menu{
     position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    visibility: hidden;
    background: rgba(255, 255,255, 0.9);
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    border-left: 1px solid #e4e4e4;
    transform: translate3d(100%, 0, 0);
    transition: all 600ms ease-out;
}

.menu.show {
    visibility: visible;
    transform: translate3d(0,0,0);
}

.menu-nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-nav a {
    display: block;
    padding: 7px 0 0;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 1200px){
    .menu{
        width: 40%;
    }
}

@media (max-width: 992px){
    .menu{
        width: 50%;
    }
}

@media (max-width: 768px){
    .menu{
        width: 100%;
    }
}